*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: 50px;
}

img{
    height: 800px;
}

.row{
    width: 100%;
    gap: 20px;
}

.card{
    width: calc(100% / 2 - 20px);
}